/*Start header*/
.header {
  background-color: cornflowerblue;
  width: 100%;
  height: 80px;
  overflow: auto;
  }

.header-inner {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  /*border: solid red 1px;*/
  }

  .logo {
    text-align: center;
  }
/*End header*/
